body {
    background-color: powderblue;
}

h1 {
    color: blue;
}

p {
    color: red;
}

.image-overlay {
    position: relative;
}

.link {
    position: absolute;
}

.overlay-image {
    width: 30px;
    height: 30px;
    opacity: .5;
}

.overlay-image:hover {
    opacity: .8;
}